# Gaia Python .gitignore

# Ignore *contents* of these folders but keep the folders themselves
data/*
checkpoints/*
tmp/*

# Except for .gitkeep files and CSV metadata to ensure directories and metadata are tracked
!data/.gitkeep
!checkpoints/.gitkeep
!tmp/.gitkeep
!data/bioscape/*.csv

# PRIVATE CREDENTIALS (EXTREMELY IMPORTANT)
src/credentials.py
*.ini
*.token
.env
.netrc

# Common Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Scratch folders
scratch/
